main {
    content-visibility: auto;
}
a {
    &:hover {
        filter: saturate(90%);
    }
}

.overlay {
    position: relative;
    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}
